/* Fonts */

@font-face {
    font-family: 'kognigear.regular';
    src: url('kognigear.regular.ttf') format('truetype');
}
@font-face {
    font-family: 'panton.light-caps';
    src: url('panton.light-caps.otf') format('truetype');
}