#contentContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 8.5em;
    width: 90%;
    padding: 0 20px;
    background-color: rgba(124,151,163,.75);
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    z-index: -3;
}

.contentHeader {
    color: white;
    text-shadow: black 2px 2px 2px;
    font-size: 25pt;
    font-family: 'Arial';
}

.contentBody {
    display: flex;
    color: white;
    margin: 0 0 40px 0;
    font-size: 20pt;
}

@media screen and (max-width: 400px) {
    #contentContainer {
        margin: 0;
    }
    
    .contentHeader {
        font-size: 20pt;
    }

    .contentBody {
        font-size: 15pt;
    }

    .galleryDescription {
        font-size: 10pt;
    }
}