#titleClickContent {
    display: block;
    height: 50%;
    width: 50%;
}

#navContainer {
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    background-color: #93b5c6;
}

#navBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#socialMediaLinksContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

#socialMediaLinks {
    color: black;
    font-size: 30pt;
    margin: 0 5px -40px 5px;
    transition: color 0.2s ease-in-out;
}

#socialMediaLinks:hover {
    color: #ffffff;
}

[id*='titleContent']{
    font-size: 40pt;
    color: black;
    position: static;
    margin: 0 3px 10px 3px;
    padding: 0 0 5px 0;
    transition: color 0.15s ease-in-out;
    align-self: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
    overflow: scrollx;
    position: fixed;
    top: 65px;
    background-color: black;
    z-index: 10;
}

li {
    color: #d0d0d0;
    font-size: 18pt;
    float: left;
    padding: 5px;
    transition: margin 0.3s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    width: 100%;
}   

li:hover {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 2px;
    margin: -3px 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}