#titleClickContent {
    display: block;
    height: 50%;
    width: 50%;
}

#navContainer {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    background-color: #93b5c6;
}

#navBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -15px;
}

#socialMediaLinksContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

#socialMediaLinks {
    color: black;
    font-size: 30pt;
    margin: 0 5px -40px 5px;
    transition: color 0.25s ease-in-out;
}

#socialMediaLinks:hover {
    color: #ffffff;
}

[id*='titleContent']{
    font-size: 40pt;
    color: black;
    position: static;
    margin: 0 3px 10px 3px;
    padding: 0 0 5px 0;
    transition: color 0.15s ease-in-out;
    align-self: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.753);
}

li {
    color: #d0d0d0;
    font-size: 18pt;
    float: left;
    padding: 5px;
    transition: margin 0.3s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    width: 100%;

}   

li:hover {
    color: #ffffff;
    background-color: rgba(64, 64, 64, 0.887);
    border-radius: 2px;
    margin: -3px 0;
}

@media screen and (max-width: 400px) {
    li {
        font-size: 10pt;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
}