#navContainer {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    background-color: #93b5c6;
    z-index: -2;
}

#navBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -20px;
    z-index: -2;
}

#socialMediaLinksContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

#socialMediaLinks {
    color: black;
    font-size: 30pt;
    margin: 0 5px -40px 5px;
    transition: color 0.25s ease-in-out;
}

#socialMediaLinks:hover {
    color: #ffffff;
}

[id*='titleContent']{
    color: black;
    font-size: 70pt;
    position: static;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    transition: color 0.15s ease-in-out;
    align-self: center;
}

#titleDefinition {
    position: absolute;
    top: 70px;
    right: 20%;
    color: #fffffff0;
    transition: color 0.15s ease-in-out, right 0.15s ease-in-out;
}

#titleDefinition:hover {
    color: black;
}

#showNavBar{
    display: flex;
    width: 50px;
    margin: 0 0 0 5px;
}

#showNavBar i {
    font-size: 25pt;
    margin: -30px 0 0 10px;
}

ul {
    display: none;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    width: 100px;
    margin: 15px 0 0 0;
    left: 15px;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 107px;
    background-color: rgba(0, 0, 0, 0.753);
}

li {
    font-family: 'Arial';
    color: #d0d0d0;
    font-size: 18pt;
    float: left;
    padding: 5px;
    transition: margin 0.3s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    width: 100%;

}   

li:hover {
    color: #ffffff;
    background-color: rgba(64, 64, 64, 0.887);
    border-radius: 2px;
    margin: 0 -3px 0 -3px;
}

@media screen and (max-width: 400px) {
    li {
        font-size: 10pt;
    }
    [id*='titleContent'] {
        font-size: 60pt;
        margin: 0 0 18px 0;
    }
}

@media screen and (min-width: 800px) {
    #titleDefinition {
        right: 30%;
    }
}